.catalog-nav {

}

.catalog-nav__link {
	display: block;

	padding: .6rem 1rem .6rem 2.8rem;

	color: #fff;
	text-decoration: none;

	&:visited {
		color: #fff;
	}

	&:hover {
		background-color: #363536;
	}
}