.brand-holder {
	display: block;
    height: 5rem;
    width: 70%;
    margin: auto;
	@include bg-contain;
	transition: $tr;

	&:hover {
		opacity: .65;
	}
	
	a {
	    display: block;
    	width: 100%;
    	height: 100%;
	}
}