.product {
	position: relative;
	flex: 0 1 25%;
	max-width: 25%;
	padding: 1rem 1.3rem 1rem 1.3rem;
	font-size: 1.6rem;
}

.product__img {
	position: relative;
	display: block;
	height: 20rem;
	width: 100%;
	@include bg-contain;
	margin: 0 0 1rem 0;

	&:hover::after {
		height: 100%;
	}

	&::after {
		@include pseudo;
		width: 100%;
		height: 0%;
		left: 0;
		top: 0;
		background-color: rgba(0,0,0,.5);
		background-image: url(/img/icons/i-search.png);
		background-size: 2.5rem;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		transition: $tr;


	}

}
.product__name {
	font-size: 1.5rem;
	font-weight: 600;
	color: #49474b;
}
.product__price {
	font-size: 2.4rem;
	color: $color_main;
	font-weight: 600;
}
.product__controls {
	@include flex-row(nowrap,space-between, stretch);
	width: 100%;
}
.product__params {
	position: absolute;
	top: 1rem;
	right: 1.3rem;
	width: 80px;
	// height: 7.6rem;

	@include flex-row(wrap, flex-end, flex-end);

	span {
		display: block;
		background-color: #777777;
		color: #fff;
		text-align: center;
		font-size: 1.1rem;
		padding: 1.2rem;

		&:first-child {
			margin: 0 0 1rem 0;
		}
	}
}





.product_fake {
	@include flex-row(wrap, center, flex-end);
	font-size: 0;

	p {
		font-size: 1.5rem;
		font-weight: 600;
		color: #6f6e70;

		margin: 0 0 2rem 0;
	}
}